.button {
  background: var(--Pink-100);
  width: 335px;
  height: 56px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: var(--White-100);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}