.page {
  display: grid;
  min-height: 100svh;
  padding: 20px;
  font-family: var(--font-geist-sans);
  justify-items: center;
}

.titleSection {
  margin-top: 45px;
}

.titleSectionEmail {
  margin-top: 116px;
}

.subtitleSection {
  margin-top: 16px;
}

.quizSection {
  margin-top: 24px;
}

.buttonSection {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.buttonSectionEmailPage {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.findingText {
  color: #FFF;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.17px;
  width: 213px;
  margin-top: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.quizContainer {
  width: 100%;
}

.privacyAndTermsText {
  color: var(--Gray-100);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  width: 280px;
}

.privacyAndTermsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;

}

.inputSection {
  margin-top: 56px;
}

.imageSection {
  display: flex;
  justify-content: center;
  margin-top: 62px;
}

.downloadSection {
  margin-top: 150px;
}

@media (min-width:801px) {
  .quizContainer {
    width: 760px;
  }
}