.progressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.topSection {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

.backArrow {
  position: absolute;
  cursor: pointer;
  color: var(--Pink-100);
  padding: 5px;
  width: 24px;
  height: 24px;
}

.progressText {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

.current {
  color: var(--Pink-100);
}

.separator {
  margin: 0 2px;
}

.total {
  color: var(--White-100);
  opacity: 0.7;
}

.progressBar {
  width: 100%;
  height: 5px;
  background: var(--Gray-300);
  border-radius: 5px;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  background: var(--Pink-100);
  width: 0;
  transition: width 0.3s ease-in-out;
}
